/* @theme mvx */
@import 'default';

section {
  background: #000000;
  color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #23f7dd;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
